<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="API" value="https://localhost:5001/"/>-->
    <add key="API" value="http://172.16.1.202:8881/"/>
  </appSettings>
</configuration>